<div class="row sing_in">
  <div class="span6">

    
    


    <div class="hero-unit">
  <h1>Welkom</h1>
  <p>Neem je lekkere mams mee</p>
  <p>
    <a class="btn btn-primary btn-large">
      Learn more
    </a>
  </p>
</div>
  </div>
  <div class="span6">

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "well"}) do |f| %>
    <label><%= f.label :email %></label>
  <%= f.email_field :email %>

  <label><%= f.label :password %></label>
  <%= f.password_field :password %>

  <% if devise_mapping.rememberable? -%>
  <label><%= f.check_box :remember_me %> <%= f.label :remember_me %></label>
  <% end -%>

  <%= f.submit "Sign in", :class => "btn" %>
<% end %>

<%= render :partial => "devise/shared/links" %>

</div>
</div>